<div>
    <a asp-area="Administration" asp-controller="Administration" asp-action="AddCat" title="Admin">Добави котка</a>
</div>


<div>
    <a asp-area="Administration" asp-controller="Administration" asp-action="AddLitter" title="Admin">Добави котило</a>
</div>
