@{
    ViewData["Title"] = "Exhibitions";
}
<section id="blog" class="blog">
	<div class="container-lg">
		<div class="section-header">
			<h2>@ViewData["Title"]</h2>
		</div>
		<div class="blog-content">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/pictures/exh1.jpg" alt="Exhibition image">
						</div>
						<div class="single-blog-item-txt">
							<p class="about-us-p">
								In February we attended our first exhibition for this year in Kassel, Germany held by Felidae e. V.
								Our lovely D* Amberforces Kim had the opportunity to achieve her first ever championship certificate and was granted with the “champion” title. Not only that but our girl achieved two nominations – one for “Best Variety” and one for “Best in show”.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/pictures/exh2.jpg" alt="Exhibition image">
						</div>
						<div class="single-blog-item-txt">
							<p class="about-us-p">
								In April we were able to take part in the Felidae e.V. exhibition in Magdeburg, Germany. Our beautiful boy – Cappy Sewda Points also managed to receive his first ever championship certificate and was granted with the “champion” title. Our adorable Elizabeth Bagheera’s Dream on her side was granted with her “Junior Champion” title. Both got nominated for “Best Variety” and “Best in show” twice.
								This exhibition was more special for one of our cats in particular – D* Amberforce’s Kim, who not only went from a Champion to an Inter Champion but also achieved 2 nominations for “Best Variety” too.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/pictures/exh3.jpg" alt="Exhibition image">
						</div>
						<div class="single-blog-item-txt">
							<p class="about-us-p">
								In August we had the opportunity to attend the Felidae e. V. exhibition in Dessau Rosslau, Germany, where Elizabeth Bagheera’s Dream jumped out of her “Junior Champion” title straight to her “Adult Champion” title. This exhibition was extremely emotional for us due to the fact that it was Elizabeth’s first birthday and she made us the best present possible for her own birthday as she was also nominated twice for “Best Variety”
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-txt">
							<h2>
								What's next?
							</h2>
							<p class="about-us-p">
								Our next stop will be Stuttgart, Germany.
								<br />
								The World Cat Show will take place from the 22nd until the 24th of November hosted by the Felidae e.V. with lots of national judges from over 30 countries. We would love to see you there too!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
