@{
    ViewData["Title"] = "About us";
}
<section id="blog" class="blog">
	<div class="container-lg">
		<div class="section-header">
			<h2>@ViewData["Title"]</h2>
			<p>
				Welcome to Bagheera’s Dream Cattery,
			</p>
		</div>
		<div class="blog-content">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/pictures/mom.jpeg" alt="blog image">
						</div>
						<div class="single-blog-item-txt">
							<p class="about-us-p">
								Ambition, love, passion- this is what made the idea a reality.  Bagheera’s Dream Cattery has been a dream itself and its happening helped create positive emotions and joyful moments that would be enough to last a lifetime. Founded in 2020, Bagheera’s Dream Cattery has achieved a lot in terms of breeding and making families happy, when it comes to finding their new four-pawed family member.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/pictures/about2.jpg" alt="blog image">
						</div>
						<div class="single-blog-item-txt">
							<p class="about-us-p">
								Protected and registered at the Felidae e. V. association, Bagheera’s Dream Cattery has had the opportunity of visiting lots of different cats’ exhibitions which made a positive impact, as the goals we have set were achieved, which on its side motivates us to continue working forward to achieving even more in the future.
								Our cattery is full of lovely British Shorthair boys and girls, some of whom are now Champions, Inter Champions, and Grand Inter Champions.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-blog-item">
						<div class="single-blog-item-img">
							<img src="~/pictures/about1.jpg" alt="blog image">
						</div>
						<div class="single-blog-item-txt">
							<p class="about-us-p">
								Which colors can be found in our cattery?
								We are delighted and proud to offer a diverse range of colors such as:
								<br />
								⦁	Blue
								<br />
								⦁	Lilac
								<br />
								⦁	Cinnamon
								<br />
								⦁	White
								<br />
								⦁	Black
								<br />
								⦁	Blue/Lilac-White Bicolor
								<br />
								⦁	Black Golden shaded
								<br />
								⦁	Seal Golden shaded point
								<br />
								⦁	Seal silver shaded point
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/.container-->

</section>
