@{
    ViewData["Title"] = "Home Page";
}

	<section id="home" class="welcome-hero">

	</section>

	<section id="list-topics" class="list-topics">
		<div class="container">
			<div class="list-topics-content">
				<ul>
					<li class="scroll">
						<div class="single-list-topics-content">
							<h2>Certified BSH breeder</h2>
						</div>
					</li class="scroll">
					<li>
						<div class="single-list-topics-content">
							<h2>100% Authentic Pedigrees</h2>
						</div>
					</li>
					<li class="scroll">
						<div class="single-list-topics-content">
							<h2>Diverse range of colors </h2>
						</div>
					</li>
					<li class="scroll">
						<div class="single-list-topics-content">
							<h2>Care is top priority.</h2>
						</div>
					</li>
					<li class="scroll">
						<div class="single-list-topics-content">
							<h2>Felidae e. V. Member</h2>
						</div>
					</li>
				</ul>
			</div>
		</div><!--/.container-->

	</section>

	<section id="introduction" class="works">
		<div class="container">
			<div class="section-header">
				<h2>Welcome to bagheera’s dream cattery homepage </h2>
			</div>
			<div class="works-content">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-how-works">
							<h2>General information about prices</h2>
							<p>
								Kittens are priced according to their appearance, bone-structure, hair, coat colour. Another reason for a specific kitten’s price to go up is if either one or both parents have been granted any title or championship certificates, e.g. Champion, Inter Champion, etc.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-how-works">
							<h2>Can you reserve a kitten and how long can it be reserved for?</h2>
							<p>
								Yes, you can reserve a kitten. This can happen by paying a specific fee which both sides – seller and buyer agree on. The fee of course will later be included in the total price of the kitten.
								A kitten can be reserved for a maximum of 8 months.
								(does not apply when we are the reason for the delay) Exceptions are possible when we receive information and updates on what prevents you from taking the kitten and how long it will take.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-how-works">
							<h2>How to contact us </h2>
							<p>
								You can contact us by clicking on the following:
								<br />
								<a href="tel:+4915259005871">+4915259005871 <i class="fa fa-whatsapp"></i></a>
								<br />
								<a href="https://www.instagram.com/bagheeras.dream.cattery/">Instagram <i class="fa fa-instagram"></i></a>
								<br />
								<a href="https://www.facebook.com/nina.manova.7">Facebook <i class="fa fa-facebook"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="explore" class="explore">
		<div class="container">
			<div class="section-header">
				<h2>Explore our mini exhibitions gallery. </h2>
			</div>
			<div class="explore-content">
				<div class="row">
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img id="myImg" src="~/pictures/1.jpeg" alt="explore image">
							</div>
						</div>
					</div>
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img id="myImg" src="~/pictures/2.jpeg" alt="explore image">
							</div>
						</div>
					</div>
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img id="myImg" src="~/pictures/3.jpeg" alt="explore image">
							</div>
						</div>
					</div>
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img id="myImg" src="~/pictures/4.jpeg" alt="explore image">
							</div>
						</div>
					</div>
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img id="myImg" src="~/pictures/5.jpeg" alt="explore image">
							</div>
						</div>
					</div>
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img id="myImg" src="~/pictures/6.jpeg" alt="explore image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.container-->

	</section>